# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DL-2D\ExperimentalTools4DeepLearning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
